/* Card container */
.courseCard {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  /* Adjust spacing between cards */
  width: 280px;
  margin: 1%;
}

/* Course image */
.courseImage {
  height: 150px;
  /* Reduced height for the course thumbnail */
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Course content */
.courseContent {
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex-grow: 1;
  gap: 10px; /* Add gap between content items */
}

/* Course title */
.courseTitle {
  font-size: 1.1rem;
  /* Adjusted font size for the title */
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

/* Course description */
.courseDescription {
  color: #6c757d;
  margin-bottom: 15px;
  font-size: 0.9rem;
  /* Adjusted font size for the description */
}

/* Course details */
.courseDetails {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 5px; /* Add gap between detail items */
}

/* Number of lectures */
.courseLectures {
  color: #6c757d;
  margin-bottom: 10px;
  font-size: 0.9rem;
  /* Adjusted font size for the lecture count */
}

/* Course status */
.courseStatus {
  color: #6c757d;
  font-size: 0.9rem;
}

/* Course enrollment date */
.courseEnrollmentDate {
  color: #6c757d;
  font-size: 0.9rem;
}

/* Go to Course button */
.courseButton {
  width: 100%;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.courseButton:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .courseCard {
    width: 250px;
  }
}
