/* Card container */
.course-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  /* Adjust spacing between cards */
  width: 280px;
  margin: 1%;
}

/* Course image */
.course-image {
  height: 150px;
  /* Reduced height for the course thumbnail */
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Course content */
.course-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex-grow: 1;
}

/* Course title */
.course-title {
  font-size: 1.1rem;
  /* Adjusted font size for the title */
  font-weight: bold;
  margin-bottom: 10px;
}

/* Course description */
.course-description {
  color: #6c757d;
  margin-bottom: 15px;
  font-size: 0.9rem;
  /* Adjusted font size for the description */
}

/* Course details */
.course-details {
  margin-top: auto;
}

/* Number of lectures */
.course-lectures {
  color: #6c757d;
  margin-bottom: 10px;
  font-size: 0.9rem;
  /* Adjusted font size for the lecture count */
}

/* Go to Course button */
.course-button {
  width: 100%;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.course-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .course-card {
      width: 250px;
     
    }
}