@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.dashboard {
  width: 100%;
  height: calc(100vh - 60px);
}

.dashboardWrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
}

.mainBodyDashboard {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  overflow-y: auto;
}

.dashboardHeader {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.courseContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}

.noCoursesMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
}

.courseCard {
  margin-top: 10px;
}

@media screen and (max-width: 680px) {
  .dashboardLink {
    display: none;
  }

  .mainBodyDashboard {
    margin-left: 20%;
    margin-right: 5%;
    overflow-y: scroll;
  }

  .courseWrapper {
    flex: 1 1 100%;
  }
}
