.my-courses {
    display: flex;
  }
  
  .main-content {
    flex: 1;
    margin-left: 60px; /* Adjust according to the sidebar width */
    transition: margin-left 0.3s ease;
    padding: 20px; /* Add padding to avoid content being too close to the edge */
  }
  
  .main-content.expanded {
    margin-left: 200px; /* Adjust according to the expanded sidebar width */
  }
  