.profilepage {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #e0f7fa;
    /* Adjust as per your header height */
    box-sizing: border-box;
    overflow: auto;
}

.profileinfo {
    width: 60%;
    margin-left: 20%;
    height: calc(100vh - 200px);
    /* Adjust max-width as per your design */
    
    padding: 20px;
    box-sizing: border-box;
}

.profileinfo .avatar {
    width: 80px;
    height: 80px;
    border: 2px solid #1976d2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}