/* Body4Card.css */

.icon__style__b4card {
    color: white !important;
    font-size: 40px !important;
  }
  
  .body4__card {
    box-shadow: 0px 0px 30px 2px rgba(128, 128, 128, 0.281);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 10px 10px;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(65, 60, 60);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .body4__card:hover {
    text-decoration: none;
    background-color: lightgray;
    color: black;
  }
  
  .icon__style {
    background-color: green !important;
    padding: 20px !important;
    border-radius: 10px !important;
  }

  
  @media screen and (max-width: 680px) {
    /* .body4__card {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px;
    } */
  
    /* .icon__style {
      margin-left: 0 !important;
      margin-bottom: 5px !important;
      padding: 15px !important;
    }
  
    .card-title h6 {
      font-size: 12px;
    } */
  }
  