@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.all-courses {
  display: flex;
  flex-direction: column; /* Display columns on smaller screens */
  width: 100%;
  height: calc(100vh - 60px); /* Adjust height as needed */
}

.allcourses-main-content {
  flex: 1;
  margin: 20px 10%; /* Adjust margins for smaller screens */
}

.allcourses-heading-container {
  margin: 20px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.heading {
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
}

.allcourses-card-container {
  flex: 1;
  overflow-y: auto;
  height: calc(100vh - 200px); /* Adjust height for smaller screens */
}

.course-container {
  display: flex;
  justify-content: center;
  overflow-y: auto; /* Enable vertical scrolling */
  height: calc(100% - 20px); /* Adjust height as needed */
  padding: 20px;
}

@media (max-width: 768px) {
  .all-courses {
    height: auto; /* Remove fixed height on smaller screens */
  }

  .allcourses-main-content {
    margin: 20px 0 20px 60px;
     /* Adjust margins for smaller screens */
  }

  .allcourses-card-container {
    height: auto;
    /* Remove fixed height on smaller screens */
  }

}
