.flexContainer {
  display: flex;
  height: calc(100vh - 60px); /* Full height minus header */
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 100px; /* Adjust based on sidebar width */
  overflow-y: auto; /* Allow scrolling if needed */
}

.courseHeader {
  border-radius: 10px;
  margin-top: 5px;
  background-color: aliceblue;
}

.courseHeaderContent {
  display: flex;
  align-items: flex-start; /* Align items to the start (left) */
}

.courseThumbnail {
  border-radius: 10%;
  width: 18rem; /* Adjust size as needed */
  height: 13rem; /* Adjust size as needed */
  margin-bottom: 1.5rem;
  margin-left: 3%; /* Space between image and course name */
}

.courseName {
  font-size: 2rem; /* Adjust font size */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 1rem; /* Space between name and description */
}

.courseDescription {
  font-size: 1.25rem; /* Adjust font size */
  font-weight: 600;
  margin-top: 0; /* Remove default margin-top */
}

.container {
  margin-top: 1.25rem; /* Space between header and lectures */
}

.lecturesSection {
  margin-top: 2%;
  padding: 0 1rem; /* Add padding to lectures section */
}

.flex1 {
  width: 95%;
  overflow-y: auto;
  margin: 0 1.25rem; /* Margin for left/right spacing */
}
