.header {
  box-shadow: 10px 10px 10px 1px rgba(199, 198, 198, 0.377);
  background-color: white;
  position: sticky;
  top: 0;
  padding: 5px 5px;
  font-family: "Open Sans", sans-serif;
  z-index: 100;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left__header>img {
  height: 50px;
  object-fit: contain;
}

.left__header>h5 {
  font-size: 32px;
  font-weight: 700;
  color: #004080;
}

.right__header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 10px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.login-button a,
.register-button a {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
}

.login-button a {
  background-color: #004080;
}

.register-button a {
  background-color: #FFA500;
}

@media screen and (max-width: 680px) {
  .left__header>h5 {
    font-size: 25px;
    font-weight: 500;
  }

  .right__header {
    gap: 10px;
  }
}