.sidebar__dashboard__row {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    margin-left: 5%;
   
}
.sidebar__dashboard__row:hover {
    background-color: lightgray;
}

.sidebar_logout{
    display: flex ;
    align-items: center;
   
}
.sidebar_data{
    display: flex;
        align-items: center;
        
}

.sidebar__dashboard__row>a {
    text-decoration: none;
    color: gray;
    display: flex;
    font-size: 16px;
}
.sidebar__dashboard__row>a>.MuiSvgIcon-root {
    margin-right: 20px;
}

.adminSidebarStyle>span {
    color: white !important;
}

@media screen and (max-width: 1000px){
    .sidebar__dashboard__row {
        width: 180px;
        padding: 10px 10px;
        margin-left: 3%;
    
    }
    .sidebar__dashboard__row>a {
        font-size: 15px;
    }
}