.sidebar__dashboard__row {
    background-color: white;
}
.sidebar-wrapper{
    display: flex;
    width:100%;
    padding: 10px 10px;
    align-items: center;
    gap:20px;
    margin-left: 5%;
}
.sidebar__dashboard__row:hover {
    background-color: lightgray;
}

.sidebar_logout{
    display: flex ;
    align-items: center;
   
}
.sidebar_data{
    display: flex;
    align-items: center;
        
}

.sidebar-wrapper>a {
    text-decoration: none;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 17px;
    font-weight:500;
    gap:20px;
}
.sidebar__dashboard__row>a>.MuiSvgIcon-root {
    margin-right: 20px;
}

.adminSidebarStyle>span {
    color: white !important;
}

@media screen and (max-width: 680px){
    
    .sidebar-wrapper>a {
        text-decoration: none;
        color: gray;
        display: flex;
        justify-content:center;
        align-items:center;
        font-size: 16px;
        margin-left: 5%;
    }
}