.allcourses-course-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 280px;
  margin: 1%;
  transition: width 0.3s ease-in-out;
  /* Ensures all cards grow to the same height */
}

.allcourses-course-image {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.allcourses-course-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex-grow: 1;
}

.allcourses-course-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.allcourses-course-description {
  color: #6c757d;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.allcourses-course-details {
  margin-top: auto;
}

.allcourses-course-lectures {
  color: #6c757d;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.allcourses-course-button {
  width: 100%;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.allcourses-course-button:hover {
  background-color: #0056b3;
}

@media (max-width: 1024px) {
  .allcourses-course-card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .allcourses-course-card {
    width: 80%;
  }
}